body .arrow-danger.arrow-right::after {
  border-right-color: #dc3545 !important;
}
body .arrow-danger.arrow-bottom::after {
  border-bottom-color: #dc3545 !important;
}
body .popover-content {
  margin: 0px auto;
  padding: 0px 10px;
  margin-bottom: 0;
  list-style: decimal;
}
body textarea {
  resize: none;
}
body ul,
body li {
  list-style: none;
}
body .dropdown {
  display: inline-block;
}
body .btn {
  margin: 2px 0px;
}
body .border-reply-bottom {
  border-bottom: 1px dotted #ccc !important;
}
body .row {
  margin: 0px;
}
body .replays {
  display: none;
}
body .loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(204, 204, 204, 0.84);
  z-index: 999;
}
body .message-list-item {
  margin: 5px 0px;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}
body .message-list-item .row-content {
  margin-bottom: 10px;
}
body .message-list-item .message-list-item-reply-item {
  margin: 5px 0px;
  border: 1px solid #dcdcdc;
}
body .message-list-item:nth-child(even) {
  background-color: #eef1f8;
}
body .message-list-item:nth-child(even) .message-list-item-reply-item {
  background-color: #dce2f1;
}
body .message-list-item:nth-child(odd) {
  background-color: #e3f5f1;
}
body .message-list-item:nth-child(odd) .message-list-item-reply-item {
  background-color: #d0eee8;
}