@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>留言板-檢視留言</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
    <link rel="stylesheet" href="~/content/List.min.css" />
</head>
<body>
    <div id="main" class="container">
        @if (TempData["userLogined"].ToString() == "1")
        {
            <button type="button" class="btn btn-primary" v-on:click="OpenCreateMessage(0)">建立新留言</button> <text> | </text>
            @Html.ActionLink("登出", "Logout", "List", null, new { @class = "btn btn-danger" }) <text> | </text>
            <a href="UserProfile" class="btn btn-light"><img src='@TempData["userIcon"]' alt="使用者頭像" style="height:40px;" /></a>
        }
        else
        {
            @Html.ActionLink("登入頁", "Index", "Login", null, new { @class = "btn btn-light" })<text> | </text>
        }
        @TempData["userName"]
        您好
        <ul class="message-list">
            <li v-for="(message, i) in messages" class="message-list-item">
                <vue-message :message="message" :count="i+1" v-on:clicked-edit="EditMessage" v-on:clicked-create-message="CreateMessage" v-on:clicked-delete-message="DeleteMessage"></vue-message>
                <vue-replycount :total="message.replyCount" :majorID="message.MajorID" v-on:clicked-edit="EditMessage" v-on:clicked-create-message="CreateMessage" v-on:clicked-delete-message="DeleteMessage"></vue-replycount>
            </li>
        </ul>

        <div v-show="false" class="modal fade" id="dgMessage" role="dialog" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{editTitle}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-sm-12 font-weight-bold">留言內容</div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-12">
                                <textarea v-bind:class="{'form-control':true,'user-message':true, 'is-invalid':isOutOverMaxContent}" id="txtMessage" rows="5" v-model="messageContent" placeholder="請輸入留言內容"></textarea>
                                <small v-bind:class="{'form-text':true, 'text-muted':!isOutOverMaxContent,'invalid-feedback':isOutOverMaxContent}">上限 300 字，目前已經輸入 {{messageCount}} 個字</small><br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-3 text-left font-weight-bold">上傳圖片</div>
                            <div class="col col-sm-9 text-left">
                                <input type="file" name="messagePic" id="messagePic" ref="file" class="form-control user-message" v-on:change="CheckPics" />
                                <br />
                                <div class="alert alert-danger">
                                    ※ 注意
                                    <ul>
                                        <li>檔案限制 1MB 和只能是圖檔</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div v-if="editMessageID !== 0 && editPics.length > 0" class="row">
                            <div class="col col-sm-3 text-left"></div>
                            <div class="col col-sm-9 text-left">
                                <br />
                                <ul>
                                    <li v-for="pic in editPics">
                                        <a :href="pic.PicURL" data-toggle="lightbox" data-title="相關圖片">
                                            <img :src="pic.PicURL.replace(/\/origin/i,'')" alt="相關圖片" class="img-thumbnail" />
                                        </a>
                                        <button type="button" class="btn btn-sm btn-danger" v-on:click="DeleteMessagePic($event, pic.PicID)">刪除圖片</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="hdMajorID" v-model="editMajorID" />
                        <input type="hidden" id="hdMessageID" v-model="editMessageID" />
                        <button type="button" class="btn btn-primary" :disabled="!isEnabledSave" v-on:click="SaveMessage">儲存</button>&nbsp;
                        <button type="button" class="btn btn-danger" data-dismiss="modal" v-on:click="CloseMessage">關閉</button>
                    </div>
                </div>
            </div>
        </div>

        <div v-show="false" class="modal fade" id="dgDialog" role="dialog" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">系統訊息</h5>
                    </div>
                    <div class="modal-body" v-html="serverMsg"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" v-on:click="CloseDialog">關閉</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <template id="replyCount-template">
        <div class="row row-footer">
            <div class="col col-sm-12 text-center">
                <div class="loading" v-if="isLoading">Loading...</div>
                <button class="btn btn-sm btn-light" data-show="1" :data-id="majorid" v-on:click="ToggleReply">{{isShowReply? hideTxt:showTxt}}({{total}})</button>
                <br />
                <div v-if="total === 0" class="replays text-center">目前沒有資料</div>
                <div v-if="total !== 0" class="replays text-right">
                    <ul v-for="(message, i) in replys" class=" message-list message-list-reply ">
                        <vue-message :message="message" :count="i+1" v-on:clicked-edit="EditMessage" v-on:clicked-create-message="ReplyMessage" v-on:clicked-delete-message="DeleteMessage"></vue-message>
                    </ul>
                </div>
            </div>
        </div>
    </template>

    <template id="userinfo-template">
        <div class="row row-title border-bottom">
            <div class="col col-sm-3 text-right">
                <img :src="userinfo.userIcon" alt="使用者頭像" class="user-pic" />
            </div>
            <div class="col col-sm-7 text-left">
                {{userinfo.userName}}<br />
                連線 IP：{{userinfo.ip}}<br />
                {{userinfo.CreateDate}}<br />
                #{{count}}
            </div>
            <div class="col col-sm-2 text-center">
                <button v-show="userinfo.isShowDelete" type="button" class="btn btn-danger btn-sm" v-on:click="DeleteMessage">刪除</button>
                <button v-show="userinfo.isShowEdit" type="button" class="btn btn-primary btn-sm" v-on:click="OpenEditMessage">編輯</button>
                @if (TempData["userLogined"].ToString() == "1")
                {
                    <button type="button" class="btn btn-info btn-sm" v-on:click="OpenCreateMessage">回覆</button><br />
                }
            </div>
        </div>
    </template>

    <template id="content-template">
        <div class="row row-content">
            <div class="col col-sm-1"></div>
            <div class="col col-sm-11 text-center">
                <div v-html="message.content" class="text-left"></div>
                <br /><br />
                <div v-if="message.pics.length > 0" class="text-left border-top">
                    相關圖片：
                    <ul>
                        <li v-for="img in message.pics" style="display: inline-block; margin-left:5px;"> 
                            <a :href="img.PicURL" data-toggle="lightbox" data-title="相關圖片">
                                <img :src="img.PicURL.replace(/\/origin/i,'')" alt="相關圖片" class="img-thumbnail" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </template>

    <template id="message-template">
        <li>
            <vue-userinfo :userinfo="message" :count="count" v-on:clicked-edit="EditMessage" v-on:clicked-create-message="ReplyMessage" v-on:clicked-delete-message="DeleteMessage"></vue-userinfo>
            <vue-content :message="message"></vue-content>
        </li>
    </template>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js.map"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/Scripts/FieldCheck.js"></script>
    <script src="~/Scripts/FileCheck.js"></script>
    <script src="~/Scripts/List.js"></script>
</body>
</html>
